body {
    margin: 0;
    background-image: linear-gradient(
      -30deg,
      #42d54c 0%,
      #25e46b 50%,
      #8feb87 100%
    );
    overflow-x: hidden;
    color: white;
    font-family: sans-serif;
    height: 200vh;
  }
  