@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 
    body{
        font-family: 'Roboto' , sans-serif;
        background-color: #00fbff;
        color:rgb(111, 3, 193);
        margin: 0 ;
        
       
 
    }
     main{
        max-width: 768px;
        margin:0 auto;
     }
     
    a:link {
        color:#b90000
      }
      
      a:visited {
       color:#ff00bb;
      }
        a:hover {
            color: #00ff2f
          }
          a:active {
            color: #ffae00
          }
        