<!DOCTYPE html>
<html>
<head></head>
<body><h1>DIET-GO</h1>
<div class="product-media-wrapper product-media-wrapper_overlayed">
        <img class="product-media" src="https://s.tmimgcdn.com/scr/800x500/68500/nutritia-healthy-nutrition-and-dietology-wordpress-theme_68597-original.png" srcset="https://s.tmimgcdn.com/scr/800x500/68500/nutritia-healthy-nutrition-and-dietology-wordpress-theme_68597-original.png 1x,https://s.tmimgcdn.com/scr/1600x1000/68500/nutritia-healthy-nutrition-and-dietology-wordpress-theme_68597-original.png 2x" alt="Nutritia - Healthy Nutrition and Dietology WordPress Theme">
      <div class="product-media-links">
                  <a href="http://demo.templatemonster.com/demo/68597.html" class="product-media-link btn btn-block" rel="noopener noreferrer nofollow" target="_blank">
                     </a>
              </div>
              </div>
</body>
</html>