<!DOCTYPE html>
<html>
<head></head>
<body><h1>DIET-GO</h1>
<img src="https://aiweightlossdiet.com/wp-content/uploads/2021/07/Weight-Loss-Design.jpg" jsaction="VQAsE" class="r48jcc pT0Scc iPVvYb" style="max-width: 1252px;height: 800px;margin: 0px;width: 831px;" alt="Home - AI Weight Loss Diet" jsname="kn3ccd" aria-hidden="false">
body {
    margin: 0;
    background-image: linear-gradient(
      -30deg,
      #42d54c 0%,
      #25e46b 50%,
      #8feb87 100%
    );
    overflow-x: hidden;
    color: white;
    font-family: sans-serif;
    height: 200vh;
  }
</body>
</html>