<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href = "/static/vegan.css" type= "text/css" rel="stylesheet">

  </head>
  <body>
<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/Diets">Diets</a></li>
    </ul>
  </nav>
</header>
<h1>Vegan</h1>
<ul>
<li>Diet_type,Recipe_name,Cuisine_type,Protein(g),Carbs(g),Fat(g),Extraction_day,Extraction_time
</li>
<li>vegan,Spiked Vegan Eggnog,american,46.36,84.52,42.61,2022-10-16,20:02:29
 </li>
 <li>vegan,Vegan Cucumber Tea Sandwiches,american,41.73,143.91,73.88,2022-10-16,20:02:29
</li>
</ul>
  </body>
</html>